.sec1{
    /* border: 2px solid red; */
    height: 500px;
}
.sec2{
    /* border: 2px solid black; */
    height: 100px;
}
.sec2 a{
    font-size: 30px;
    /* border: 2px solid red; */
    text-decoration: none;
}
.div1{
    /* border: 2px solid black; */
    height: 100px;
    width: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 20px;
}
.b1{
    /* border: 2px solid red; */
    height: 60px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    border-radius: 10px;
}